/// ------------------------------------------------------------------------------------- ///
///                             ┌─┐┌─┐┌┐┌┌─┐┬─┐ ┌─┐┌─┐┌─┐                                 ///
///                             └─┐│ ││││├─┤├┬┘ │  └─┐└─┐                                 ///
///                             └─┘└─┘┘└┘┴ ┴┴└─o└─┘└─┘└─┘                                 ///
///                        Pure CSS animated attention seekers                            ///
///                                                                                       ///
///                             urbanoalvarez.es/sonar.css                                ///
///                                                                                       ///
/// ------------------------------------------------------------------------------------- ///

@import 'sonar/_variables';
@import 'sonar/_animations';

/// Sonar code

.sonar{
  position:relative;

  &::after{
    z-index:-1;
    padding:0px;
    top:0;
    left:0;
    width:100%;
    height:100%;
    content: '';
    display:block;
    position:absolute;
    // Animate by default
    @include animation("sonar-base");
    @include prefixer(animation-iteration-count, $iteration-count-base);
    @include prefixer(animation-duration, $duration-base);
    @include prefixer(box-sizing, content-box);
  }
  
  &.sonar-infinite::after{
    @include prefixer(animation-iteration-count, infinite);
  }
  
  &.sonar-stroke{
    &::after{
      border-width:0;
      border-color:$gray-light;
      border-style: solid;
      border-radius:inherit;
      // Animate by default
      @include animation("sonar-base, sonar-stroke");
    }
    &.sonar-hover{
      &::after{
        @include prefixer(animation-name, none);
      }
      &:hover{
        &::after{
          @include animation("sonar-base, sonar-stroke");
          @include prefixer(animation-duration, $duration-base);
        }
      }
    }
    &.sonar-click{
      &::after{
        @include prefixer(animation-name, none);
      }
      &:focus{
        &::after{
          @include animation("sonar-base, sonar-stroke");
          @include prefixer(animation-duration, $duration-base);
        }
      }
    }
  }
  &.sonar-fill{
    &::after{
      border:none;
      background: $gray-light;
      border-radius:inherit;
      @include animation("sonar-base");
    }
    &.sonar-hover{
      &::after{
        @include prefixer(animation-name, none);
      }
      &:hover{
        &::after{
          @include animation("sonar-base");
          @include prefixer(animation-duration, $duration-base/2);
        }
      }
    }
    &.sonar-click{
      &::after{
        @include prefixer(animation-name, none);
      }
      &:focus{
        &::after{
          @include animation("sonar-base");
          @include prefixer(animation-duration, $duration-base/2);
        }
      }
    }
  }
}
